<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ust.smartph"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".CalendarActivity"/>
        <activity android:name=".AboutUsActivity"/>
        <activity android:name=".ChecklistActivity"/>
        <service android:name="com.ust.checklist.ReminderService"/>
        <activity android:name=".TimetableActivity"/>
        <activity android:name=".DashboardActivity"/>
        <activity android:name=".FocusModeActivity"/>
        <activity android:name=".AppUsageHomeActivity"/>
        <activity android:name=".CustomActionDetectionActivity"/>
        <activity android:name=".TimetableItemActivity"/>
        <activity android:name=".TimetableHomeActivity"/>
        <activity android:name=".UserActionActivity"/>
        <service android:name="com.ust.focusmode.StudyModeService"
            android:enabled="true"
            android:exported="true"/>

    </application>




</manifest>


